a{
    color: white;
   
}

.menu2{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    background-color: rgb(90, 68, 131);
    margin-bottom: 20px;
    margin: 2px;
    
}
a:hover{
    color: black;
}
#actif a {
    color: white;
}



